<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre y apellido</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="name"
          />
          <form-input-msgerror
            [myForm]="signUpForm"
            [controlName]="'name'"
          ></form-input-msgerror>
          <!-- <span class="form-text text-danger">
            Debe de ser en formato de nombre y apellido
          </span> -->
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <form-input-msgerror
            [myForm]="signUpForm"
            [controlName]="'email'"
          ></form-input-msgerror>
          <!-- <span class="form-text text-danger">
            mensaje de error del email
          </span> -->
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre código del usuario"
            formControlName="userName"
          />
          <form-input-msgerror
            [myForm]="signUpForm"
            [controlName]="'userName'"
          ></form-input-msgerror>
          <!-- <span class="form-text text-danger">
            El username no puede ser Strider
          </span> -->
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de su cuenta"
            formControlName="password"
          />
          <form-input-msgerror
            [myForm]="signUpForm"
            [controlName]="'password'"
          ></form-input-msgerror>
          <!-- <span class="form-text text-danger">
            La contraseña debe de ser mayor de 6 caracteres.
          </span> -->
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="password2"
          />
          <form-input-msgerror
            [myForm]="signUpForm"
            [controlName]="'password2'"
          ></form-input-msgerror>
          <!-- <span class="form-text text-danger">
            Las contraseñas deben de ser iguales
          </span> -->
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            type="submit"
            (click)="onSubmit()"
          >
            Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid:</h2>
<h2>Form Status:</h2>
<h2>Form Pending:</h2>
<h2>Form errors</h2>

<div class="row">
  <div class="col-5">
    <ul class="list-group text-light">
      <li
        class="list-group-item d-flex justify-content-between bg-secondary text-light"
      >
        <span class="border-end w-50">Valid </span>
        <span>{{ signUpForm.valid | json }}</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between bg-secondary text-light"
      >
        <span class="border-end w-50">Pristine </span>
        <span>{{ signUpForm.pristine | json }}</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between bg-secondary text-light"
      >
        <span class="border-end w-50">Touched </span>
        <span> {{ signUpForm.touched | json }}</span>
      </li>
      <li
        class="list-group-item d-flex flex-column justify-content-between bg-secondary text-light"
      >
        <span class="">Value </span>
        <span class="">{{ signUpForm.value | json }}</span>
      </li>
      <li
        class="list-group-item d-flex flex-column justify-content-between bg-secondary text-light"
      >
        <span class="w-50">Name </span>
        <span>value: {{ signUpForm.controls["name"].value | json }}</span>
        <span
          ><span class="text-danger-emphasis">Errores:</span>
          {{ signUpForm.controls["name"].errors | json }}</span
        >
      </li>
      <li
        class="list-group-item d-flex flex-column justify-content-between bg-secondary text-light"
      >
        <span class="w-50">Email </span>
        <span>value: {{ signUpForm.controls["email"].value | json }}</span>
        <span
          ><span class="text-danger-emphasis">Errores:</span>
          {{ signUpForm.controls["email"].errors | json }}</span
        >
      </li>
      <li
        class="list-group-item d-flex flex-column justify-content-between bg-secondary text-light"
      >
        <span class="w-50">User Name </span>
        <span>value: {{ signUpForm.controls["userName"].value | json }}</span>
        <span
          ><span class="text-danger-emphasis">Errores:</span>
          {{ signUpForm.controls["userName"].errors | json }}</span
        >
      </li>
      <li
        class="list-group-item d-flex flex-column justify-content-between bg-secondary text-light"
      >
        <span class="w-50">Password </span>
        <span>value: {{ signUpForm.controls["password"].value | json }}</span>
        <span
          ><span class="text-danger-emphasis">Errores:</span>
          {{ signUpForm.controls["password"].errors | json }}</span
        >
      </li>
      <li
        class="list-group-item d-flex flex-column justify-content-between bg-secondary text-light"
      >
        <span class="w-50">Confirmar Password </span>
        <span>value: {{ signUpForm.controls["password2"].value | json }}</span>
        <span
          ><span class="text-danger-emphasis">Errores:</span>
          {{ signUpForm.controls["password2"].errors | json }}</span
        >
      </li>
    </ul>
  </div>
</div>
